<link rel="stylesheet" href="/public/css/lol.css">

{{#if loggedIn}}
  <h1>Welcome, {{username}}!</h1>
{{/if}}

{{#each posts}}
  <div class="post-card">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Posted by {{user.username}}</p>
    <a href="/api/posts/post/{{id}}">View Post</a>
  </div>
{{/each}}
